.env
*.pem
kubeconfig
.DS_Store
.idea/
.vscode/
bin/
dist/
.codex
project_01_gitops_platform.md
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfplan
tfplan
crash.log
terraform.tfvars
